@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
  background: #ecf3fb;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #000;
}
